body {
    font-family: Cantarell, sans-serif;
    min-width: 700px;
    overflow-y: auto;
    overflow-x: auto;
}

h1, h2, h5 {
    text-align: center;
    text-shadow: 3px 5px 3px lightgray;
}

button {
    font-family: Cantarell, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
    min-width: 85px;
    max-height: 37px;
    transition: 0.1s ease;
}
button:hover {
    box-shadow: 2px 2px 3px gray;
}

.misc-info {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    line-height: 1.5;
    font-size: 10px;
    text-shadow: 2px 2px 2px lightgray;
}

.field-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 2px solid #ccc;
    transition: 0.1s ease;
}

.field-label {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 11px;
    min-width: 110px;
}

.field-input {
    font-family: "Times New Roman", serif;
    font-size: 12px;
    transition: 0.1s ease;
    background-color: white;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    width: 90%;
    margin: 10px auto;
    line-height: 1.5;
    outline: none;
}

.evidence-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 2px solid #ccc;
    transition: 0.1s ease;
}

.clear-single-field-button {
    min-width: 15px;
    margin-right: 15px;
}

.exclude-field-button {
    min-width: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

#accessedDateLabel {
    margin-right: 10px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: right
}

#accessedDateButton {
    font-size: 11px;
    min-height: 12px;
    min-width: 35px;
    max-height: 36px;
    margin-left: 0;
    margin-right: 10px;
    padding: 0;
    background-color: white;
}

.formatted-evidence {
    border: 2px solid #ccc;
    padding: 10px;
    width: 80%;
    max-width: 67%;
    margin: 10px auto;
}

#copyButton {
    margin: 20px auto;
    height: 45px;
    max-height: 45px;
}

#clearAllButton {
    margin: 20px auto;
    height: 45px;
    max-height: 45px;
}