body {
    font-family: Arial, sans-serif;
    min-width: 700px;
    overflow-y: auto;
    overflow-x: auto;
}

label {
    text-align: center;
    min-width: 110px;
    max-width: 110px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    height: auto;
}

button {
    min-width: 85px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
    font-size: 12px;
    max-height: 50px;
}

img {
    display: block;
    margin: 10px auto;
    width: 90px;
    height: auto;
}

h1, h5 {
    text-align: center;
}

.misc-info {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 10px;
    text-align: right;
    line-height: 1.5;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 1px solid #ccc;
}

.citation-input {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    width: 90%;
    margin: 10px auto;
    font-size: 12px;
    line-height: 1.5;
    outline: none;
}

.evidence-input {
    border: 1px solid #ccc;
    padding: 5px;
    min-height: 60px;
    width: 90%;
    margin: 10px auto;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
}

.formatted-text {
    border: 2px solid #ccc;
    min-height: 60px;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    font-size: 10pt;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    outline: none;
}
